<main>
  <aside>
    <div>
      <p>development</p>
      <p>designing</p>
      <p>digital marketing</p>
    </div>
  </aside>
  <section class="main-h1">
    <h1>Brand <span>.Design.Product.</span> In-Hous Development. &More</h1>
  </section>
</main>

<style>
  main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -520px;
    aside {
      width: 410px;

      div {
        display: flex;
        gap: 40px;
        transform: rotate(-90deg);
        p {
          color: #fff;
          font-size: 14px;
          font-weight: 400;
          letter-spacing: 0.56px;
          text-transform: uppercase;
        }
      }
    }
    .main-h1 {
      h1{
      font-size: 60px;    
      font-weight: 200;
      width: 700px;
      
      span{
        color: #7E7E7E;
      }
      }      
    }
  }
</style>
